.container {
    width: 1596px;
    max-width: calc(100% - 160px);
    margin: 0 auto;
    background-color: aqua;
}
.btn {
    padding: 1.4rem 3rem;
    border-radius: 82px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1c1c1c;
}
.btn__active {
    background-color: var(--primary-color);
}
